
html{
    font-size: 62.5%;
    // 10px 
}



*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: "Open Sans";
    color: #808080;

    -webkit-font-smoothing: antialiased;
    -moz-osz-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

@import "layout";
@import "headernavbar";
@import "./page-title.scss";
@import "./form-fields.scss";
@import "./details.scss";

// auth
@import "auth/signin.scss";
@import "auth/signup.scss";

// account
@import "./account/account-information.scss";
@import "./account/purchase-history.scss";
@import "./account/account.scss";

// shop
@import "./shop/shop.scss";
@import "./shop/shop-search-bar.scss";
@import "./shop/shop-product.scss";
@import "./shop/cart-product.scss";


// cart
@import "./shop/shop-cart.scss";

// quantity
@import "./quantity.scss";
@import "./green-price-tag.scss";

// Review
@import "./order/review.scss";
@import "./order/reviewForm.scss";
@import "./order/reviewProduct.scss";

// INFORMATION
@import "./information/payment.scss";
@import "./information/shipping.scss";
@import "./information/infoHelp.scss";
